@charset "utf-8";

/* font */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../font/NotoSansKR-Thin-Hestia.eot),
    url(../font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

/* reset */
html{overflow:hidden;height:100%}
body{margin:0;padding:0;height:100%;font-size:15px;line-height:1.4;font-family:'Noto Sans Korean', dotum, sans-serif}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img{margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6{font-size:15px;font-family:'Noto Sans Korean', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ul, dl,dt,dd{margin:0;padding:0;list-style:none}
legend{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden}
label, input, button, select, img{vertical-align:middle;font-size:15px}
input, button{margin:0;padding:0;font-family:'Noto Sans Korean', dotum, sans-serif;font-size:15px;font-weight:bold}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea, select{font-family:'Noto Sans Korean', dotum, sans-serif;font-size:15px}
select{margin:0}
p{margin:0;padding:0;word-break:break-all;font-weight:bold}
hr{display:none}
pre{overflow-x:scroll}
a{text-decoration:none;font-weight:bold;color:#333}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* layout */
.hidden, legend, caption{position:absolute;left:-9999px;text-indent:-9999px;font-size:0;line-height:0}
header h1.logo{position:fixed;top:20px;left:20px;z-index:20}
header h1.logo a{display:block;font-size:15px;font-weight:bold;color:#fff;}
header h1.logo.type01 a{color:#fff}
header h1.logo.type02 a{color:#cc9999}
header h1.logo.type03 a{color:#99ccff}
header h1.logo.type04 a{color:#cc9999}

.wrap{position:relative;width:200%;min-width:1000px;height:100%}
.main{width:100%;height:100%;background-color:#000}
.main:after{content:'';display:block;clear:both}
.main > section{position:relative;box-sizing:border-box;width:50%;height:100%}
.main > section:after, .main article:after{content:'';display:block;clear:both}
.main > section > .bgBlack{position:absolute;z-index:10;left:0;width:100%;height:75px;background:url(../images/main/bg_black.png) repeat-x 0 0/1px 150px}
.main > section > .bgBlack.top{top:0}
.main > section > .bgBlack.btm{bottom:0;background-position:0 -75px}
.main .indi{position:fixed;bottom:20px;right:20px;z-index:10}
.main .indi li{margin-top:5px}
.main .indi li:first-child{margin-top:0}
.main .indi li a{display:block;position:relative;text-align:right;font-size:15px;font-weight:bold;color:#fff}
.main .indi.type01 li a{color:#fff}
.main .indi.type02 li a{color:#cc9999}
.main .indi.type03 li a{color:#99ccff}
.main .indi.type04 li a{color:#cc9999}
.main .indi li.on a:before{content:'·';position:relative;top:-2px;vertical-align:middle;font-size:25px;line-height:15px}

.main .slideArr{position:fixed;z-index:10;bottom:20px;left:20px}
.main .slideArr a{display:block;position:relative;width:40px;height:40px;text-indent:-9999px;font-size:0;line-height:0}
.main .slideArr a:after{content:'';display:block;position:absolute;top:13px;left:5px;width:15px;height:15px;background:url(../images/main/ico_slide_btn.png) no-repeat -45px 0/60px 15px}
.main .slideArr.on a:after{left:21px}
.main .slideArr.type01 a{transform:rotate(0deg)}
.main .slideArr.type02 a{transform:rotate(90deg)}
.main .slideArr.type03 a{transform:rotate(180deg)}
.main .slideArr.type04 a{transform:rotate(270deg)}
.main .slideArr.type01 a:after{background-position:-45px 0}
.main .slideArr.type02 a:after{background-position:-30px 0}
.main .slideArr.type03 a:after{background-position:-15px 0}
.main .slideArr.type04 a:after{background-position:0 0}

/* Fixed UI transition */
header h1.logo a, header .navBtn > span, .main .indi li a, .main .slideArr a, .main .slideArr a:after{
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out}

/* section background transition */
.main section:before{
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out}
.main section.on:before{
    -webkit-transition: all 10.00s ease-in-out;
    -moz-transition: all 10.00s ease-in-out;
    -ms-transition: all 10.00s ease-in-out;
    -o-transition: all 10.00s ease-in-out}

/* section Effect transition */
.main section article > div.on{
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out}
.main section.on article.cnt02{
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out}

/* Box01 transition */
.main .box01 .tit h3.on img, .main .box01 .tit h3.center span.on{
    -webkit-transition: all 1.00s ease-in-out;
    -moz-transition: all 1.00s ease-in-out;
    -ms-transition: all 1.00s ease-in-out;
    -o-transition: all 1.00s ease-in-out}

.main .box01{float:left}
.main .box01 .tit{overflow:hidden;position:absolute;top:50%;left:50%;z-index:20;margin:-120px 0 0 -300px;width:600px;height:240px;text-align:center;color:#fff}
.main .box01 .tit h3{position:absolute;z-index:10}
.main .box01 .tit h3 img{opacity:0}
.main .box01 .tit h3.on img{opacity:1;transition:1s}
.main .box01 .tit h3 .plus{position:absolute}
.main .box01 .tit h3.top .plus{top:35px;right:0}
.main .box01 .tit h3.bottom .plus{bottom:18px;left:0}
.main .box01 .tit h3.top.on .plus{right:-106px}
.main .box01 .tit h3.bottom.on .plus{left:-91px}
.main .box01 .tit .top{top:5px;left:13px}
.main .box01 .tit .bottom{bottom:0;right:13px}
.main .box01 .tit h3.center{top:100px;left:4px;width:100%;text-align:center;font-size:30px;font-weight:bold;letter-spacing:18px;opacity:.3}
.main .box01 .tit h3.center span{opacity:0}
.main .box01 .tit h3.center span.on{opacity:1;transition:1s}
.main .box01 .titBg{content:'';display:block;position:absolute;top:50%;left:100%;z-index:10;margin-top:-138px;border-radius:60px;width:100%;height:120px;background:#006699;opacity:0}
.main .box01:after{content:'';position:absolute;width:100%;height:100%;opacity:.8;
    background:-webkit-linear-gradient(left top, #006699, #99ccff);
    background:-moz-linear-gradient(left top, #006699, #99ccff);
    background:-ms-linear-gradient(left top, #006699, #99ccff);
    background:-o-linear-gradient(left top ,#006699, #99ccff);
}
.main .box01 .mainVideo{position:absolute;margin:-540px 0 0 -960px;top:50%;left:50%}

.main .box02{float:right}
.main .box02 > .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/main/bg_box02.png) no-repeat left center/2500px auto fixed}
.main .box02 .cnt01{position:relative;float:right;width:750px;height:100%;z-index:10}
.main .box02 .cnt01:after{content:'';display:block;clear:both}
.main .box02 .cnt01 > div{float:left;position:relative;margin-top:100px;padding:0 0 0 150px;width:375px;height:100px;text-align:left}
.main .box02 .cnt01 > div > .ico{position:absolute;top:30px;left:0;z-index:10;width:130px;height:100px;opacity:0}
.main .box02 .cnt01 > div:nth-child(1) > .ico img:nth-child(1){position:absolute;top:0;left:15px}
.main .box02 .cnt01 > div:nth-child(1) > .ico img:nth-child(2){position:absolute;top:15px;left:30px}
.main .box02 .cnt01 > div:nth-child(2) > .ico img:nth-child(1){position:absolute;top:21px;left:0}
.main .box02 .cnt01 > div:nth-child(2) > .ico img:nth-child(2){position:absolute;top:15px;left:47px}
.main .box02 .cnt01 > div:nth-child(3) > .ico img:nth-child(1){position:absolute;top:15px;left:0}
.main .box02 .cnt01 > div:nth-child(3) > .ico img:nth-child(2){position:absolute;top:35px;left:49px}
.main .box02 .cnt01 > div:nth-child(4) > .ico img:nth-child(1){position:absolute;top:0;left:0}
.main .box02 .cnt01 > div:nth-child(4) > .ico img:nth-child(2){position:absolute;top:52px;left:82px}
.main .box02.on .cnt01 > div > .ico img:nth-child(2){animation:rotation 5s infinite linear}
.main .box02.on .cnt01 > div:nth-child(4) > .ico img:nth-child(1){animation:rotation 10s infinite linear}
.main .box02.on .cnt01 > div:nth-child(2) > .ico img:nth-child(2){animation:none}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.main .box02 .cnt01 > div > .tit{margin-top:-20px;font-weight:bold;opacity:0}
.main .box02 .cnt01 > div > .tit h3{font-size:22px;color:#660000}
.main .box02 .cnt01 > div > .tit p{margin-top:6px;font-size:14px;line-height:18px;color:#660000}
.main .box02 .cnt01 > div > span{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255, 255, 255, 1)}
.main .box02 .cnt01 > div.on > .ico{top:0;transition:1s;opacity:1}
.main .box02 .cnt01 > div.on > .tit{margin-top:10px;opacity:1;transition:1s}
.main .box02 .cnt01 > div.on > span{top:100%;transition:.5s;opacity:0}

.main .box03{float:right}
.main .box03 > .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/main/bg_box03.png) no-repeat left center/2500px auto fixed}
.main .box03 .cnt01{position:relative;z-index:10;padding:50px 20px}
.main .box03 .cnt01 h3{margin-top:20px;font-size:25px;color:#fff}
.main .box03 .cnt01 > div{margin-left:30px;opacity:0;}
.main .box03 .cnt01 > div.on{margin-left:0;opacity:1}
.main .box03 .cnt01 > div.type01{margin:10px 0 0 20px;font-size:20px;font-weight:bold;color:#fff}
.main .box03 .cnt01 > div.type02{margin:5px 0 0 20px;font-size:16px;font-weight:bold;color:#fff}
.main .box03 .cnt01 > div.type03{margin:0 0 5px 20px;font-size:11px;color:#fff}
.main .box03 .cnt01 > div.type04{position:relative;margin:0 0 0 10px;padding-left:20px;font-size:13px;line-height:20px;color:#fff}
.main .box03 .cnt01 > div.type04:before{content:'·';position:absolute;top:0;left:10px}

.main .box04{float:left;padding:50px 20px}
.main .box04 > .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/main/bg_box04.png) no-repeat left center/2500px auto fixed}
.main .box04 article{position:relative;z-index:10}
.main .box04 .cnt01{position:relative;float:right}
.main .box04 .cnt01 > div{opacity:0;text-align:right}
.main .box04 .cnt01 > div.on{margin-left:0;opacity:1}
.main .box04 .cnt01 h3{margin:20px 0 20px;font-size:25px;color:#660000}
.main .box04 .cnt01 > div{margin-right:50px;opacity:0;}
.main .box04 .cnt01 > div.on{margin-right:0;opacity:1}
.main .box04 .cnt01 > div.type01{margin-top:15px;font-size:13px;font-weight:bold;color:#660000}
.main .box04 .cnt01 > div.type02{position:relative;padding-right:20px;font-size:13px;line-height:20px}
.main .box04 .cnt01 > div.type02 a{color:#660000}
.main .box04 .cnt01 > div.type02:before{content:'·';position:absolute;top:0;right:10px;color:#660000}

/* Tablet 
@media all and (min-width:768px) and (max-width:1023px) {
    
} */

/* mobile 
@media all and (max-width:768px) {
    
} */
